{% extends 'base.html' %} 
{% block title %}home{% endblock title %} 
{% block content %}home <h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex nemo, deserunt, iste unde officia est excepturi ab repellat soluta voluptatum et, quos incidunt sint asperiores voluptate eveniet? Atque, assumenda voluptatum.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex nemo, </p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores atque facere repellendus obcaecati perferendis harum, provident sequi laudantium vitae labore? Minus, obcaecati ratione quam sit temporibus inventore aliquid voluptatem vero.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt facilis consectetur blanditiis aut sunt commodi, esse cumque eius corrupti sint asperiores tempora ad ipsum repudiandae explicabo quaerat numquam, deserunt fugiat?</p>
</h1>{% endblock content %}
